.nav_form .nav-link {
    position: relative;
}

.nav_form .nav-link::after {
    content: "";
    opacity: 0;
    transition: all 0.2s;
    height: 3px;
    width: 100%;
    background-color:rgb(168, 177, 255);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav_form .nav-link:hover::after {
    content: "";
    opacity: 1;
}

